PORT=8787
FRONTEND_ORIGIN=http://localhost:5173
GITHUB_TOKEN=
GITHUB_OWNER=
GITHUB_REPO=classboard-files
GITHUB_BRANCH=main
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
